body {
  background-color: #ebeced;
  font-family: "Karla", sans-serif;
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(http://themes.googleusercontent.com/static/fonts/karla/v2/QT0qO2FiFD03cwUe_t62t6CWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: local('Karla Bold'), local('Karla-Bold'), url(http://themes.googleusercontent.com/static/fonts/karla/v2/3nZS3BKzlvhkwl4yjCQcjHYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/qpy-UiLNKP-VfOdbcs6r6-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

.content {
  background: white url('../assets/circles.png') repeat-x top center;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 60px 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

h1 {
  margin-bottom: 60px;
  text-align: center;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 3em;
  text-align: center;
  margin-bottom: 1em;
}

form {
  padding: 10px;
  text-align: center;
  margin-bottom: 1em;
}
form h3 {
  margin-bottom: 0.6em;
}

input, button {
  font-family: "Karla", sans-serif;
}

footer, footer a, footer a:hover {
  color: #999999;
}

#features h3 {
  margin-top: 1.2em;
}
#features h3 i {
  margin-top: 3px;
}
#features h3:first-child {
  margin-top: 0;
}

p#appstore {
  margin-top: 2em;
}

#social {
  text-align: center;
}

.dishes img {
  display: block;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .content {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }

  p#appstore {
    text-align: center;
  }

}
@media (min-width: 768px) and (max-width: 979px) {
  
}
@media (min-width: 980px) and (max-width: 1199px) {
  
}
@media (min-width: 1200px) {
  
}
